/* Don't forget to include a CSS reset file otherwise it might look a little bit strange*/

body {
    background-color: rgba(61, 207, 153, 0.9);
}

a:active,
a:focus {
    outline: expression(hideFocus='true');
}

p {
    margin-bottom: 20px;
}

#wrapper {
    width: 960px;
    margin: 0 auto;
    padding-top: 100px;
}

#tabs,
#tabs2,
#tabs3,
#tabs4,
#tabs5 {
    width: 500px;
    margin: 0 auto;
    margin-bottom: 40px;
}

#tabs li,
#tabs2 li,
#tabs3 li,
#tabs4 li,
#tabs5 li {
    display: inline-block;
}

#tabs li a,
#tabs2 li a,
#tabs3 li a,
#tabs4 li a,
#tabs5 li a {
    display: block;
    padding: 17px 30px;
    background: #544f6b;
    text-decoration: none;
    color: #8478B3;
}

#tabs li a:hover,
#tabs2 li a:hover,
#tabs3 li a:hover,
#tabs4 li a:hover,
#tabs5 li a:hover {
    background: rgb(78, 74, 99);
}

.tabs_container {
    padding: 40px;
    overflow: hidden;
    position: relative;
    background: white;
}

.tabs_container div {
    margin-right: 40px;
    position: absolute;
}

.tabulous_active {
    background: white !important;
    color: #655c89 !important;
}

.tabulousclear {
    display: block;
    clear: both;
}

ul {
    margin: 0;
    padding: 0;
}

.demo-name {
    font-size: 21px;
    margin: 0 auto;
    width: 500;
}